<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	
<mapper namespace="com.neusoft.ddzx.sgdd.model.AllocateMapper">
	<!-- 增加调拨单 -->
	<insert id="add">
	insert into DD_ALLOCATEFORM
	  values(ALLOCATEFORM_ID.NEXTVAL,#{orderId},#{taskId},
	         #{depotOutId},#{depoyInId},
	         #{depotOutDate},#{allocateDate},
	         #{shopId},#{shopNum},0)
	</insert>
</mapper>